*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --zo-dark:#000000;
    --zo-lighter:#FFFFFF;
    --zo-light:#4A4A4A;
    --zo-secondary:#4BC800;
    --zo-primary:#222222;
    --zo-brillant: #FF0000;



}
body{
    background-color: var(--zo-dark);
}

img{
    max-width: 100%;
}

.container{
    width: 80%;
    margin:auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col_7{
    width: calc((100% / 7) * 1);
    padding-left: 0.4rem;
    padding-bottom: 1rem;
    position: relative;
}
/* #region header */

header{
    text-align: end;
    padding: 1rem;
}

header .view, header .big_screen{
    background-color: var(--zo-light);
    padding: 0.3rem;
    border-radius: 10px;
    border: 1px solid var(--zo-light);
    color: var(--zo-lighter);
}
/* #regione main */

.user{
    color: var(--zo-lighter);
    font-size: 10px;
    background-color: var(--zo-light);
    position: absolute;
    bottom: 1.4rem;
    left: 0.4rem;
}

/* #region footer */
footer{
    background-color: var(--zo-primary);
}
.bottom_page{
    width: 100%;
    color: var(--zo-lighter);
}

footer .row{
    justify-content: space-between;
}

footer i{
    margin-left: 10px;
    padding: 20px 0;
    display: block;
    
}
.big{
    font-size: 30px;
}

.small{
    font-size: 10px;
}
.d_flex{
    display: flex;
}

.command_left{
   
}
.command_right{
    background-color: var(--zo-light);
    color: var(--zo-brillant);
    padding: 2rem;
    height: 100%;
}

